html, body {
  margin: 0;
  padding: 0;
}

hp-content {
  display: block;
  background-color:beige;

  width: 100vw;
  height: 100vh;
}

hp-presentation {
  display: inline-block;
  background-color:snow;

  width: 80%;
  height: 80%;
  margin: 10%;
}

hp-slide {
  display: flex;
  background-color: beige;

  width: 30vw;
  height: 10vh;

  justify-content: center;
  align-items: center;
}